<section class="catalog">
  <div class="catalog__wrapper">
    <h2 data-title="Каталог услуг" class="title catalog__title">Каталог услуг</h2>
        <ul class="catalog__list">
          <li class="catalog__item">
            <div class="catalog-card">
              <div class="catalog-card__image">
                <img src="img/catalog-1.jpg" alt="">
              </div>
              <div class="catalog-card__description">
                <h3 class="catalog-card__title">букет невесты и свадебное оформление</h3>
                <button class="btn catalog-card__btn">смотреть работы</button>
              </div>
            </div>
          </li>
          <li class="catalog__item">
            <div class="catalog-card">
              <div class="catalog-card__image">
                <img src="img/catalog-2.jpg" alt="">
              </div>
              <div class="catalog-card__description">
                <h3 class="catalog-card__title">букеты на торжества</h3>
                <button class="btn catalog-card__btn">смотреть работы</button>
              </div>
            </div>
          </li>
          <li class="catalog__item">
            <div class="catalog-card">
              <div class="catalog-card__image">
                <img src="img/catalog-3.jpg" alt="">
              </div>
              <div class="catalog-card__description">
                <h3 class="catalog-card__title">композиции</h3>
                <button class="btn catalog-card__btn">смотреть работы</button>
              </div>
            </div>
          </li>
          <li class="catalog__item">
            <div class="catalog-card">
              <div class="catalog-card__image">
                <img src="img/catalog-4.jpg" alt="">
              </div>
              <div class="catalog-card__description">
                <h3 class="catalog-card__title">оформление мероприятий</h3>
                <button class="btn catalog-card__btn">смотреть работы</button>
              </div>
            </div>
          </li>
        </ul>
  </div>
</section>
