.page-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
}

.page-header__wrapper {
    max-width: 1734px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(768) {
        max-width: 668px;
    }
}
